h1 {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-right: 10rem;
}

.img-placeholder {
    height: 250px;
    width: 250px;
    background-color: red;
}